<div class="container">
  <div class="row">
    <table class="table fixed-table">
      <colgroup>
        <col class="col-xs-5"/>
        <col class="col-xs-5"/>
        <col class="col-xs-2"/>
      </colgroup>
      <thead>
        <tr>
          <th>Nume</th>
          <th>Proiect</th>
          <th>Rol</th>
        <tr>
      </thead>
      <tbody>
        <% @profiles.each do |p| %>
          <tr>
            <% tr = '' %>
            <td rowspan="<%= p.memberships.length %>"><%= profile_with_link(p) %></td>
              <%= tr %>
              <% tr = '<tr>' %>
              <% p.memberships.each do |m| %>
                <td><%= project_with_link(m.project) %></td>
                <td><%= m.role %></td>
                </tr>
              <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
