<div class="row">
  <div class="col-sm-9">
    <%= bootstrap_form_for(profile,
        layout: :horizontal,
        label_col: 'col-sm-3',
        control_col: 'col-sm-9',
        role: :form) do |f| %>
      <div class="row">
          <%= f.text_field :full_name, label: 'Nume Complet', placeholder: 'Coman Otilia', help: 'In ordinea nume prenume'  %>
          <%= f.text_field :nick_name, label: 'Nume Scurt', placeholder: 'Otilia', help: 'Numele de adresare in communicare' %>
          <%= f.text_field :photo, placeholder: 'http://example.org/full_path/somephoto.png',
                label: 'Photo',
                help: 'URL for a hot-linked photo' %>
          <%= f.email_field :email, placeholder: 'blandiana@example.com',
                disabled: is_new_user? %>
          <%= f.text_area  :contacts_string, label: 'Contact',
                  placeholder: "email2: other@example.com\rphone: 555-5555",
                  help: "Separa pe linii si prefixeaza cu `phone1:`, `email2:` etc" %>
          <%= f.text_field :location, label: 'Locatie', placeholder: 'Timisoara, Romania' %>
          <%= f.text_field :title, label: 'Ocupatia', placeholder: 'Programator' %>
          <%= f.text_field :workplace, label: 'Locul de munca' %>
          <%= f.text_field :skills_string, label: 'Skills',
              placeholder: 'Java, PHP, .Net, Ruby, Python, Angular, React Native, UI, UX, Adobe Illustrator',
              help: 'Skill-uri, separate prin virgulă' %>
          <%= f.text_field :skill_wish_list_string, label: 'Skill wish list',
              placeholder: 'Android, iOs, Go',
              help: 'Skill-uri, separate prin virgulă pe care ai dori să le înveți sau perfecționezi' %>
          <%= f.text_area :urls_string, label: 'Links',
              placeholder: "ro.wikipedia.org/wiki/ana_blandiana<br>stackoverflow.com/users/105929",
              help: 'Link-uri relevante pentru profil' %>
          <%= f.text_area :description,
              help: "Cover letter: 1-2 paragrafe depre #{profile_resource_name}",
              label: 'Descriere',
              data: html_text_area %>
          <%= f.text_field :tags_string, label: 'Tags',
              placeholder: tags_placeholder,
              help: "Tag-uri care permit filtrare, cautare si identificarea;\ndisponibil: remote, on-site;\nparticipant la hackathon: hackathon" %>
          <% if is_user_level_fellow? %>
            <%= f.text_field :hidden_tags_string, label: 'Hidden Tags',
                placeholder: 'SEMNAT NDA, PENDING REVIEW',
                help: 'Tag-uri care pot fi vazute sau editate doar de catre bursieri' %>
          <% end %>
          <% if is_user_level_fellow? %>
            <%= f.select :flags, options_for_select([
                      ['Comunitate', Profile::PROFILE_FLAG_APPLICANT],
                      ['Voluntar', Profile::PROFILE_FLAG_VOLUNTEER],
                      ['Bursier', Profile::PROFILE_FLAG_FELLOW],
                      ['Coordonator', Profile::PROFILE_FLAG_COORDINATOR]
                    ],
                    profile.flags),
                  label: 'Rol' %>
          <% end %>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    <% end %>
  </div>
</div>
