<div class="row">
  <div class="col-sm-7">
    <dl class="dl-horizontal">
      <dt>Nume Complet</dt><dd><%= profile.full_name %></dd>
      <dt>Nume Scurt</dt><dd><%= profile.nick_name %></dd>
      <dt>Email</dt><dd><%= profile.email %></dd>
      <dt>Contacte</dt><dd><%= render partial: 'shared/key_values',  locals: {key_values: profile.contacts} %></dd>
      <dt>Locatie</dt><dd><%= profile.location %></dd>
      <dt>Ocupatie</dt><dd><%= profile.title %></dd>
      <dt>Locul de munca</dt><dd><%= profile.workplace %></dd>
      <dt>Skills</dt><dd><%= render partial: 'shared/skills', locals: {skills: profile.skills} %></dd>
      <dt>Tags</dt><dd><%= render partial: 'shared/tags', locals: {tags: profile.tags} %></dd>
      <dt>Links</dt><dd><%= render partial: 'shared/urls', locals: {urls: profile.urls} %></dd>
    </dl>
  </div>
  <div class="col-sm-3 text-center">
    <img class="img-responsive img-rounded img-profile center-block" src="<%= profile.photo %>" />
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-3 col-sm-9">
    <%= profile.description %>
  </div>
</div>
<div class="row">
    <%= yield %>
</div>
