<div class="container profile">
  <%= render partial: 'shared/notice' %>
  <%= render @profile do %>
    <dl class="dl-horizontal">
      <dt></dt>
      <dd>
          <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-default' %>
      </dd>
    </dl>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
    <dl class="dl-horizontal">
      <% if is_coordinator? %>
        <dd>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Proiecte</h2>
            </div>
            <%= render partial: 'shared/member_projects_list', locals: {members: @memberships} %>
            <%= will_paginate @memberships,
                param_name: 'memberships_page',
                renderer: BootstrapPagination::Rails %>
          </div>
        </dd>
      <% end %>
    </dl>
    </div>
  </div>
</div>
