<%= bootstrap_form_for( meeting_presenter,
    as: :meeting_presenter,
    layout: :horizontal,
    label_col: 'col-sm-3',
    control_col: 'col-sm-9',
    role: :form) do |f| %>

    <%= f.fields_for :meeting, meeting_presenter.meeting do |m| %>
      <%= m.date_field :date, label: 'Data' %>
      <%= m.text_field :agency, label: 'Beneficiar', placeholder: 'Ministerul Muncii' %>
      <%= m.text_field :location, label: 'Locatia', placeholder: 'Sediul D.A.R.P.A' %>
      <%= m.text_area :attendees_string, label: 'Participanti',
          placeholder: "Niels Bohr, Josef Alexander Schrödinger",
          help: 'Participanti din afara GovITHub' %>
      <%= f.fields_for :fellows, meeting_presenter.fellows do |p| %>
        <%= p.collection_select :profile_id, 
                Profile.fellows.where.not(id: meeting_presenter.fellow_ids),
                :id,
                :full_name,
                label: 'Participant GovITHub',
                include_blank: true %>
      <% end %>
      <div class="btn-group col-sm-offset-3 col-sm-9">
        <%= f.submit 'Adauga bursier', class: 'btn btn-default', name: 'add_fellow' %>
      </div>
      <%= m.text_field :summary, label: 'Sumar' %>
      <%= m.text_area :notes, label: 'Detalii', data: html_text_area %>
      <%= m.text_area :attn_coordinators, label: 'Attn. Coordinatori', data: html_text_area %>
      <%= m.text_field :tags_string, label: 'Tags' %>
    <% end %>

    <%= yield f %>
<% end %>
