<div class="container">
  <div class="row">
    <div class="login-form panel panel-default">
    <p class="text-primary">Enter a new password for <%= @token.user.email %></p>
    <%= bootstrap_form_for(@reset_password_presenter,
      method: :patch,
      layout: :horizontal,
      label_col: 'col-sm-3',
      control_col: 'col-sm-9',
      role: 'form') do |f| %>
        <%= f.password_field :password, placeholder: 'type new password', label: 'New password' %>
        <%= f.password_field :password_confirmation, placeholder: 'type the same password again', label: 'Confirm password' %>
        <%= f.form_group do %>
          <%= f.primary "Reset password" %>
        <% end %>
    <% end %>
    </div>
  </div>
</div>
