<div class="container">
  <div class="row">
   <span class="text-info notice"><%= notice %></span>
  </div>
  <div class="row">
    <dl class="dl-horizontal">
      <dt>Titlu<dt>
      <dd><%= @opening.title %></dd>
      <dt>Data limita aplicare<dt>
      <dd><%= @opening.deadline.to_date unless @opening.deadline.nil? %></dd>
      <dt>Data Publicat<dt>
      <dd><%= @opening.publish_date.to_date unless @opening.publish_date.nil? %></dd>
      <% unless @opening.project.nil? %>
        <dt>Denumire Proiect</dt>
        <dd><%= project_with_link(@opening.project) %></dd>
        <dt>Descriere Proiect</dt>
        <dd><%# sanitize_html_area(@opening.project.description) %></dd>
        <dt>Obiectiv Proiect</dt>
        <dd><%# anitize_html_area(opening.project.objective) %></dd>
        <% unless @opening.project.owner.nil? %>
          <dt>Lider Proiect</dt>
          <dd><%= @opening.project.owner.full_name %></dd>
        <% end %>
      <% end %>
      <dt>Descriere<dt>
      <dd><%= sanitize_html_area(@opening.description) %></dd>
      <dt>Tags<dt>
      <dd><%= render partial: 'shared/tags', locals: {tags: @opening.tags} %></dd>
      <dt>Skills<dt>
      <dd><%= render partial: 'shared/skills', locals: {skills: @opening.skills} %></dd>
      <dt>Experienta<dt>
      <dd><%= sanitize_html_area(@opening.experience) %></dd>
      <dt></dt>
      <dd>Esti interesat sa ajuti? Contacteaza <%= @opening.contact_info %>.</dd>
      <% if is_user_level_fellow? %>
      <dd>
        <%= form_for(@opening, method: :delete) do %>
          <div class="btn-group" role='group'>
            <%= link_to 'Edit', edit_opening_path(@opening), class: 'btn btn-default' %>
            <input type='submit' value='Delete' class =  'btn btn-danger' />
          </div>
        <% end %>
      </dd>
      <% end %>
    </dl>
  </div>
</div>
