<div class="container">
  <div class="row">
    <%= render partial: 'shared/notice' %>
  </div>
  <div class="row">
    <dl class="dl-horizontal">
      <dt>Name<dt>
      <dd><%= @template.name %></dd>
      <dt>Tags<dt>
      <dd><%= render partial: 'shared/tags', locals: {tags: @template.tags } %></dd>
      <dt>Subject<dt>
      <dd><%= @template.subject %></dd>
      <dt>Body<dt>
      <dd><div class="email-body"><%= sanitize_email_body(@template.body).html_safe %></div></dd>
      <dt></dt>
      <dd>
        <%= form_for(@template, method: :delete) do |f| %>
          <div class="btn-group" role='group'>
            <%= link_to 'Edit', edit_template_path(@template), class: 'btn btn-default' %>
            <%= f.submit 'Delete', class: 'btn btn-danger', data: {confirm: 'Sterge tempalte-ul?'} %>
          </div>
        <% end %>
      </dd>
    </dl>
  </div>
</div>
