<div class="container">
  <div class="row">
   <span class="text-info notice"><%= notice %></span>
  </div>
  <div class="row">
    <dl class="dl-horizontal">
      <dt>Data Raport</dt>
      <dd><%= @my_status_report.status_report.report_date.to_date %></dd>
      <dd><h4><%= profile_with_link(@my_status_report.status_report.profile) %></h4></dd>
      <dt>Sumar</dt>
      <dd><%= @my_status_report.status_report.summary %></dd>
      <dt>Detaliat</dt>
      <dd><%= sanitize_html_area(@my_status_report.status_report.details) %></dd>
      <dt>Tags</dt>
      <dd><%= render partial: 'shared/tags', locals: {tags: @my_status_report.status_report.tags} %></dd>
      <% @my_status_report.project_status_reports.each do |psr| %>
        <dd><h4><%= project_with_link(psr.status_report.project) %></h4></dd>
        <dt>Sumar</dt>
        <dd><%= psr.status_report.summary %></dd>
        <dt>Detaliat</dt>
        <dd><%= sanitize_html_area(psr.status_report.details) %></dd>
        <dt>Tags</dt>
        <dd><%= render partial: 'shared/tags', locals: {tags: psr.status_report.tags} %></dd>
      <% end %>
      <dd>
        <%= form_for(@my_status_report, url: my_edit_status_reports_path, method: :post) do |f| %>
          <div class="btn-group" role='group'>
            <%= link_to 'Edit', my_edit_status_reports_path, class: 'btn btn-default' %>
            <%= f.submit 'Publica', class: 'btn btn-primary', name: 'publish_report',
                data: {confirm: 'Publicarea trimite un email cu raportul tau la coordinatori. Dupa publicare, aceasta pagina va afisa <i>urmatorul</i> raport. Confirmi publicarea?'.html_safe} %>
          </div>
        <% end %>
      </dd>
    </dl>
  </div>
</div>
