<div class="container">
  <div class="row">
   <span class="text-info notice"><%= notice %></span>
  </div>
  <div class="row">
    <%= bootstrap_form_for(@my_status_report,
      url: my_edit_status_reports_path,
      method: 'post',
      layout: :horizontal,
      label_col: 'col-sm-3',
      control_col: 'col-sm-9',
      role: :form) do |f| %>

      <%= f.fields_for(:status_report, @my_status_report.status_report) do |s| %>
        <%= s.hidden_field :profile_id %>
        <%= s.hidden_field :id %>
        <%= s.date_field :report_date, label: 'Data raportului' %>
        <h4 class="col-sm-offset-3 col-sm-9"><%= s.object.profile.full_name %></h4>
        <%= s.text_field :summary, label: 'Sumar' %>
        <%= s.text_area :details, label: 'Status', data: html_text_area %>
        <%= s.text_field :tags_string, label: 'Tags' %>
      <% end %>
      <%= f.fields_for :project_status_reports, @my_status_report.project_status_reports do |p| %>
        <% if !p.object.project.nil? %>
          <h4 class="col-sm-offset-3 col-sm-9"><%= p.object.project.name %></h4>
        <% end %>
        <%= p.fields_for :status_report, p.object.status_report do |ps| %>
          <% if p.object.project.nil? %>
            <%= ps.collection_select(:project_id,
                @projects_for_select,
                :id,
                :name,
                label: 'Proiect') %>
          <% else %>
            <%= ps.hidden_field :project_id %>
          <% end %>
          <%= ps.hidden_field :id %>
          <%= ps.text_field :summary, label: 'Sumar' %>
          <%= ps.text_area :details, label: 'Status', data: html_text_area %>
          <%= ps.text_field :tags_string, label: 'Tags' %>
        <% end %>
      <% end %>
      <div class="btn-group col-sm-offset-3 col-sm-9" role='group'>
        <%= f.submit 'Save', class: 'btn btn-primary', name: 'save' %>
        <% if @my_status_report.project_status_reports.present? %>
         <%= f.submit('Add Project', class: 'btn btn-default', name: 'add_project') %>
        <% end %>
        <%= link_to 'Cancel', my_status_reports_path, class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
