<div class="container">
  <div class="row">
   <span class="text-info notice"><%= notice %></span>
  </div>
  <div class="row">
    <%= render @status_report do %>
      <dd>
        <%= form_for(@status_report, method: :delete) do |f| %>
          <div class="btn-group" role='group'>
            <%= link_to 'Edit', edit_status_report_path(@status_report), class: 'btn btn-default' %>
            <%= f.submit 'Delete', class: 'btn btn-danger', data: {confirm: 'Sterge raportul?'} %>
          </div>
        <% end %>
      </dd>
    <% end %>
  </div>
</div>
