<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <%= render partial: 'shared/notice' %>
      <div class="login-form panel panel-default">
        <%= bootstrap_form_for(@presenter,
                               method: :put,
                               url: set_password_users_path,
                               layout: :horizontal,
                               label_col: 'col-sm-3',
                               control_col: 'col-sm-9',
                               role: :form) do |f| %>
          <%= f.password_field :old_password, required: true, label: 'Parola veche' %>
          <%= f.password_field :password, required: true, label: 'Parola nouă' %>
          <%= f.password_field :password_confirmation, required: true, label: 'Confirmare parolă' %>
          <%= f.submit 'Schimbă parola', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
