<table class="table fixed-table profiles-table">
  <colgroup>
    <col class="col-xs-3" />
    <col class="col-xs-3" />
    <col class="col-xs-3" />
    <col class="col-xs-2" />
    <col class="col-xs-1" />
  </colgroup>
  <thead>
    <tr>
      <th>Nume</th>
      <th>Email</th>
      <th>Locatie</th>
      <th>Cunostinte</th>
      <th />
    </tr>
  </thead>
  <tbody>
    <tr>
    <%= bootstrap_form_for(@profile_search_presenter,
          url: search_volunteers_path,
          class: 'form-inline',
          method: 'POST') do |f| %>
      <td><%= f.text_field :full_name,
              hide_label: true,
              placeholder: 'Filtreaza dupa nume...',
              append: f.submit('Go') %></td>
      <td><%= f.text_field :email,
              hide_label: true,
              placeholder: 'Filtreaza dupa email...',
              append: f.submit('Go') %></td>
      <td><%= f.text_field :location,
              hide_label: true,
              placeholder: 'Filtreaza dupa locatie...',
              append: f.submit('Go') %></td>
      <td><%= f.text_field :skills,
              hide_label: true,
              placeholder: 'Filtreaza dupa cunostinte...',
              append: f.submit('Go') %></td>
      <td></td>
    <% end %>
    </tr>
    <%= render partial: 'shared/profile_row', collection: profiles %>
  </tbody>
</table>
<%= will_paginate profiles, renderer: BootstrapPagination::Rails %>
