<%= project_status_tag(project_row, :tr) do %>
  <td><%= project_status_badge(project_row) %></td>
  <td><%= project_row.name %></td>
  <td><%= project_row.members.volunteers.count %>/<%= project_row.members.fellows.count %></td>
  <td><%= project_row.owner.full_name unless project_row.owner.nil? %></td>
  <td><%= project_row.beneficiary %></td>
  <td><%= render partial: 'shared/tags', locals: {tags: project_row.tags} %></td>
  <td>
    <% if is_user_level_fellow? %>
      <%= glyphicon_link_to project_path(project_row) %>
    <% end %>
  </td>
<% end %>
