<tr>
  <td><%= profile_row.full_name %></td>
  <td><%= profile_row.email %></td>
  <td><%= profile_row.location %></td>
  <td><%= render partial: 'shared/profile_attributes', locals: {profile: profile_row} %></td>
  <td><%= link_to volunteer_path(profile_row), class: 'btn btn-link' do %>
    <span class="glyphicon glyphicon-play-circle"></span>
  <% end %></td>
</tr>

