<tr>
  <td><%= profile_row.full_name %></td>
  <td><%= profile_row.email %></td>
  <td><%= profile_row.location %></td>
  <td><%= render partial: 'shared/profile_attributes', locals: {profile: profile_row} %></td>
  <td><%= glyphicon_link_to profile_path(profile_row) %></td>
</tr>

