<table class="table fixed-table profiles-table">
  <colgroup>
    <% if is_user_level_fellow? %>
      <col class="col-xs-3" />
      <col class="col-xs-2" />
      <col class="col-xs-2" />
      <col class="col-xs-4" />
      <col class="col-xs-1" />
    <% else %>
      <col class="col-xs-4" />
      <col class="col-xs-3" />
      <col class="col-xs-4" />
      <col class="col-xs-1" />
    <% end %>
  </colgroup>
  <thead>
    <tr>
      <th>Nume</th>
      <% if is_user_level_fellow? %>
        <th>Email</th>
      <% end %>
      <th>Locatie</th>
      <th>Atribute</th>
      <th />
    </tr>
    <tr>
    <%= bootstrap_form_for(@profile_search_presenter,
          url: search_profiles_path,
          class: 'form-inline',
          method: 'POST') do |f| %>
      <td><%= f.text_field :full_name,
              hide_label: true,
              placeholder: 'Alex',
              append: glyphicon_submit_helper('search') %></td>
      <% if is_user_level_fellow? %>
        <td><%= f.text_field :email,
                hide_label: true,
                placeholder: 'NOT @gmail',
                append: glyphicon_submit_helper('search') %></td>
      <% end %>
      <td><%= f.text_field :location,
              hide_label: true,
              placeholder: 'Bucuresti',
              append: glyphicon_submit_helper('search') %></td>
      <td><%= f.text_field :attrs,
              hide_label: true,
              placeholder: 'Java, NOT remote',
              append: glyphicon_submit_helper('search') %></td>
      <td></td>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'shared/profile_row', collection: profiles %>
  </tbody>
</table>
