<%= project_status_tag(project_row, :tr) do %>
  <div class="col-xs-6 col-md-4 col-lg-3">
    <div class="project">
      <a class="project-action" href="<%= project_path(project_row) %>">
        <div class="project-status"><%= project_status_badge(project_row) %></div>
        <h2 class="project-title"><%= project_row.name %></h2>
        <div class="project-count">
          <span class="glyphicon glyphicon-user"></span>
          <%= project_row.members.count %>
        </div>
        <div><%= render partial: 'shared/tags', locals: {tags: project_row.tags} %></div>
      </a>
    </div>
  </div>
<% end %>
