<tr>
  <td><%= status_report_row.report_date.to_date %></td>
  <td><%= status_report_row.ref %></td>
  <td><%= status_report_row.summary %></td>
  <td><%= render partial: 'shared/tags', locals: {tags: status_report_row.tags} %></td>
  <td><%= glyphicon_link_to status_report_path(status_report_row)  %></td>
</tr>
