<div class="container">
  <div class="row">
   <span class="text-info notice"><%= notice %></span>
  </div>
  <div class="row">
    <dl class="dl-horizontal project">
      <%= render 'join_link' %>
      <dt>Nume</dt>
      <dd><%= @project.name %></dd>
      <dt>Partener<dt>
      <dd><%= @project.beneficiary %></dd>
      <dt>Status</dt>
      <dd><%= project_status_badge(@project) %></dd>
      <dt>Lider</dt>
      <dd><%= @project.owner.full_name unless @project.owner.nil? %></dd>
      <dt>Descriere<dt>
      <dd><%= sanitize_html_area(@project.description) %></dd>
      <dt>Obiectiv<dt>
      <dd><%= sanitize_html_area(@project.objective) %></dd>
      <dt>Links</dt>
      <dd><%= render partial: 'shared/project_urls', locals: {project: @project } %>
      <dt></dt>
      <dd>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Membri</h2>
          </div>
          <%= render partial: 'shared/community_members_profile_table',
                      locals: {members: @volunteers} %>
          <%= will_paginate @volunteers,
              param_name: 'volunteers_page',
              renderer: BootstrapPagination::Rails %>
        </div>
      </dd>  
      <dt></dt>
      <dd>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Openings</h2>
          </div>
            <%= render partial: 'shared/openings_table', locals: {openings: @openings} %>
            <%= will_paginate @openings,
                param_name: 'openings_page',
                renderer: BootstrapPagination::Rails %>
        </div>
      </dd>
    </dl>
  </div>
</div>
