<div class="container">
  <div class="row">
   <span class="text-info notice"><%= notice %></span>
  </div>
  <div class="row">
    <dl class="dl-horizontal project">
      <dt>Name<dt>
      <dd><%= @project.name %></dd>
      <dt>Leader</dt>
      <dd><%= profile_with_link(@project.owner) %></dd>
      <dt>Description<dt>
      <dd><%= @project.description %></dd>
      <dt>Links</dt>
      <dd><%= render partial: 'shared/key_values', locals: {key_values: @project.urls } %>
      <dt>Tags</dt>
      <dd><%= render partial: 'shared/tags', locals: {tags: @project.tags} %></dd>
      <dd>
        <%= form_for(@project, method: :delete) do %>
          <div class="btn-group" role='group'>
            <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default' %>
            <input type='submit' value='Delete' class =  'btn btn-danger' />
          </div>
        <% end %>
      </dd>
      <dt>Status <%= glyphicon_link_to new_project_status_report_path(@project), 'plus' %></dt>
      <dd>
        <%= render partial: 'shared/status_reports_table', locals: {status_reports: @status_reports} %>
        <%= will_paginate @status_reports,
                param_name: 'status_reports_page',
                renderer: BootstrapPagination::Rails %>
      </dd>
      <dt>Voluntari <%= glyphicon_link_to new_volunteer_project_members_path(@project), 'plus'%></dt>
      <dd>
        <%= render partial: 'shared/members_profile_table', locals: {members: @volunteers} %>
        <%= will_paginate @volunteers,
                param_name: 'volunteers_page',
                renderer: BootstrapPagination::Rails %>
      </dd>  
      <dt>Bursieri <%= glyphicon_link_to new_fellow_project_members_path(@project), 'plus'%></dt>
      <dd>
        <%= render partial: 'shared/members_profile_table', locals: {members: @fellows} %>
        <%= will_paginate @fellows,
                param_name: 'fellows_page',
                renderer: BootstrapPagination::Rails %>
      </dd>  
    </dl>
  </div>
</div>
