<%= content_for :project_header do %>
  <%= render 'join_link' %>
<% end %>

<div class="container">
  <div class="row">
   <span class="text-info notice"><%= notice %></span>
  </div>
  <div class="row">
    <%= render @project do %>
    <dt></dt>
     <dd>
        <%= form_for(@project, method: :delete) do |f| %>
          <div class="btn-group" role='group'>
            <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default' %>
            <%= f.submit 'Delete', class: 'btn btn-danger', data: {confirm: 'Sterge proiectul?'}  %>
          </div>
        <% end %>
      </dd>
      <dt></dt>
      <dd>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Membri
              <span class="pull-right"><%= glyphicon_link_to new_volunteer_project_members_path(@project), 'plus'%></span></h2>
          </div>
            <%= render partial: 'shared/members_profile_table', locals: {members: @volunteers} %>
            <%= will_paginate @volunteers,
                param_name: 'volunteers_page',
                renderer: BootstrapPagination::Rails %>
        </div>
      </dd>  
      <dt></dt>
      <dd>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Openings <span class="pull-right"><%= glyphicon_link_to new_project_openings_path(@project), 'plus'%></span></h2>
          </div>
            <%= render partial: 'shared/openings_table', locals: {openings: @openings} %>
            <%= will_paginate @openings,
                param_name: 'openings_page',
                renderer: BootstrapPagination::Rails %>
        </div>
      </dd>
    <% end %>
  </div>
</div>
