<div class="container">
  <div class="row">
		<div class="col-lg-6 col-lg-offset-3">
	    <%= render partial: 'shared/notice' %>
	    <div class="login-form panel panel-default">
	      <%= bootstrap_form_for(@login_presenter,
	            method: :post,
	            url: login_path,
	            layout: :horizontal,
	            label_col: 'col-sm-3',
	            control_col: 'col-sm-9',
	            role: :form) do |f| %>
	          <%= f.email_field :email %>
	          <%= f.password_field :password,
	            help: "#{link_to 'Ai uitat parola?', request_reset_path}".html_safe %>
	          <%= f.submit 'Login', class: 'btn btn-primary' %>
	      <% end %>
	    </div>
		</div>
  </div>
</div>
