<div class="container">
  <div class="row">
   <span class="text-info notice"><%%= notice %></span>
  </div>
  <div class="row">
    <dl class="dl-horizontal">
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <dt><%= attribute.human_name %><dt>
      <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
<% end -%>
      <dd>
        <%%= form_for(@<%= singular_table_name %>, method: :delete) do %>
          <div class="btn-group" role='group'>
            <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-default' %>
            <input type='submit' value='Delete' class =  'btn btn-danger' />
          </div>
        <%% end %>
      </dd>
    </dl>
  </div>
</div>
